body{
	
	background-color: grey;
}

.image{
	
	text-align: center;
}

h1{

	text-align: center;
}

form
{
    text-align: center;
}
.anwser{

	text-align: center !important;

}

